/* *{
  margin:0;
  padding: 0;
}

.App
{
  text-align: center;

}
body{
background-image: url("images/pexels-yurii-hlei-1398431.jpg");
background-position: center;
background-repeat: no-repeat;




} */